/****** Database information  ******/
USE [DBAdmin]
SELECT 
		b.[environment]
		,[ServerName]
      ,[InstanceName]
      ,[SQL Server Version]
      ,[SQL Edition]
      ,[SERVER Collation]
      ,[DatabaseName]
      ,[AG Role]
      ,[AG Group Name]
      ,[Mirror State]
      ,[Mirror Role]
      ,[Mirror Safety level]
      ,[Mirror Partner]
      ,[InventoryDate]
      ,[create_date]
      ,[collation_name]
      ,[state_desc]
      ,[compatibility_level]
      ,[DBOwner]
      ,[recovery_model_desc]
      ,[is_auto_shrink_on]
      ,[is_auto_close_on]
      ,[is_auto_create_stats_on]
      ,[is_auto_update_stats_on]
      ,[RowSizeMB]
      ,[LogSizeMB]
      ,[StreamSizeMB]
      ,[TextIndexSizeMB]
      ,[Full Uncompressed Backup Size (MB)]
      ,[Full Compressed Backup Size (MB)]
      ,[Differential Compressed Backup Size (MB)]
      ,[Differential Uncompressed Backup Size (MB)]
      ,[Last FULL Backup Date]
      ,[Last Differential Backup Date]
      ,[Last Tlog Backup Date]
      ,[Log ship Server]
  FROM [DBAdmin].[dbo].[Checks_Database_Information] a
    left JOIN [dbo].[SourceServerList] b ON a.[ServerName] = b.[SQL Instance Name]
  WHERE b.ActiveStatus = 1
  order by b.[environment], a.[ServerName]