/****** Database files  ******/
USE [DBAdmin]
SELECT b.[environment]
		,[ServerName]
      ,[InstanceName]
      ,[Database Name]
      ,[Logical File Name]
      ,[RecoveryMode]
      ,[avg_read_stall_ms]
      ,[avg_write_stall_ms]
      ,[avg_io_stall_ms]
      ,[File Size (MB)]
      ,[MaxSize]
      ,[FreeSpaceMB]
      ,[FreeSpacePct]
      ,[autogrowMB]
      ,[autogrowAsPercentage_1Yes_0No]
      ,[physical_name]
      ,[type_desc]
      ,[io_stall_read_ms]
      ,[num_of_reads]
      ,[io_stall_write_ms]
      ,[num_of_writes]
      ,[io_stalls]
      ,[total_io]
  FROM [DBAdmin].[dbo].[Checks_DataFiles] a
    left JOIN [dbo].[SourceServerList] b ON a.[ServerName] = b.[SQL Instance Name]
  WHERE b.ActiveStatus = 1
  order by b.[environment], a.[ServerName]